# Ignorar arquivos específicos
.DS_Store

# Use curingas como
*~
*.class
*.jar
*.properties

config
# Ignorar todos os diretórios e arquivos em um diretório.
tmp/**/* 
lib/*
/build/
/dist/
/nbproject/private/