$ cat .gitignore

# Ignorar arquivos específicos
.DS_Store

# Use curingas como
*~
*.class
*.jar 
*.properties
# Ignorar todos os diretórios e arquivos em um diretório.
tmp/**/* 
lib/*
test/**/*
/target/
/build/
